<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- for Microsoft apps -->
    <meta
      name="msapptication—TiteImage"
      content="https://firebasestorage.googleapis.com/v0/b/epiceats-5cf87.appspot.com/o/thumbnail%2Fthumbnail.jpg?alt=media&token=99a78ae5-3073-4dc9-9eff-4e9bbe8fba6d"
    />

    <!-- for Facebook & Whatsapp -->
    <!-- Site Name, Title, and Description to be displayed -->
    <meta property="og:site_name" content="Epiceats" />
    <meta property="og:title" content="Spice Up Your Palate with Epiceats" />
    <meta
      property="og:description"
      content="Welcome to EpicEats, where the art of cooking meets the joy of discovery."
    />

    <!-- Image to display -->
    <meta
      property="og:image"
      itemprop="image"
      content="https://firebasestorage.googleapis.com/v0/b/epiceats-5cf87.appspot.com/o/thumbnail%2Fthumbnail.jpg?alt=media&token=99a78ae5-3073-4dc9-9eff-4e9bbe8fba6d"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image:type" content="image/png" />

    <!-- Any size up to 3øØ. Anything above 3ØØpx will not work in WhatsApp -->
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

    <!-- Website to visit when clicked in Facebook or WhatsApp -->
    <meta property="og:url" content="https://epiceatsv1.onrender.com/" />

    <title>
      <%= typeof title != 'undefined'?title:'Cooking Blog - Made' %>
    </title>
    <meta
      name="description"
      content=" Epiceats was born from a shared passion for gastronomy and a desire to
    bring people closer to the joy of cooking and sharing exceptional meals.
    Founded by a team of food enthusiasts, our blog is a labor of love
    dedicated to the art of cooking, creativity, and a dash of spice."
    />
    <meta name="keywords" content="food," />
    <meta name="author" content="subradev sarkar" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.svg" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/preloader.css" />
    <link rel="stylesheet" href="/css/loader.css" />
  </head>
  <body>
    <%- include('../components/toastsComponent.ejs') %>
    <div id="preloader-container">
      <span class="preloader"></span>
    </div>
    <div id="loader-container" class="d-none">
      <span class="loader"></span>
    </div>

    <div class="container-xxl px-md-5 bg-white">
      <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-2 mb-md-0 text-decoration-none"
        >
          <img src="/img/eplogo.svg" height="68" alt="eapiceats-logo" />
        </a>

        <ul
          class="nav col-12 col-md-auto mb-2 justify-content-center align-items-center md-md-0"
        >
          <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
          <li>
            <a href="/about" class="nav-link px-2 link-secondary">About</a>
          </li>
          <li>
            <a href="/submit-recipe" class="nav-link px-2 link-secondary"
              >Submit</a
            >
          </li>
          <li>
            <a href="/contact-submit" class="nav-link px-2 link-secondary"
              >Contact</a
            >
          </li>
          <%- include('../components/loginBtnComponent.ejs',{user})%>
        </ul>
        <!-- <div class="col-md-3 text-end"> -->
        <div class="col-12 col-md-3 md-md-0 mb-2 text-end">
          <form method="POST" action="/search">
            <input
              type="search"
              name="searchTerm"
              class="form-control"
              placeholder="Search..."
              aria-label="Search"
            />
          </form>
        </div>
      </header>
      <main><%- body -%></main>

      <footer class="py-5">
        <div
          class="d-flex flex-wrap justify-content-center justify-content-md-between"
        >
          <p>Build by <b>Subradev</b></p>
          <p>&copy 2023 <b>epiceats</b>. All rights reserved</p>
        </div>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script defer src="/js/appScript.js"></script>
    <script defer src="/js/auth.js"></script>
    <script defer src="/js/registrationForm.js"></script>
    <script defer src="/js/validation.js"></script>
    <script defer src="/js/domElements.js"></script>
    <script defer src="/js/recipeHandel.js"></script>
  </body>
</html>
