<% if (infoSuccessMessage != '') {%>
<div class="alert alert-success" role="alert"><%- infoSuccessMessage %></div>
<% } %> <% if (infoFailureMessage != '') {%>
<div class="alert alert-danger" role="alert"><%- infoFailureMessage %></div>
<% } %>
