<li class="login-list px-2">
  <a
    href="/user/login"
    id="login-btn-lg"
    class="login-btn nav-link link-secondary"
  >
    <img src="/img/Chefhat1.svg" width="30" alt="Chef hat" />
    <span>Login</span>
  </a>
  <%- include('./userMenuComponent.ejs') %>
</li>
