<div class="d-flex flex-column justify-content-center align-items-center">
  <img
    class="img img-fluid mb-4"
    style="opacity: 1"
    src="/img/recipesDoc.svg"
    alt="empty box"
    width="150"
  />
  <p>Recipes not found</p>
</div>
