<form id="reg-otpform" action="<%- action %>" method="POST">
  <div class="row g-3">
    <p>
      <b>Verify your Email</b><br /><br />Enter the one-time password sent to
      your email <br /><span class="fw-bold" style="color: rgb(78, 132, 248)"
        ><%- email %></span
      >
    </p>
    <p id="reg-otpbtn">
      <b>
        <u
          >Resend
          <span id="reg-otpcontent"
            >in <span id="reg-otptime">45</span><span>s</span></span
          ></u
        >
      </b>
    </p>
    <div class="col-12">
      <label for="otp" class="form-label">OTP</label>
      <input
        type="text"
        name="otp"
        id="reg-otp"
        required
        class="form-control"
        placeholder="Enter OTP"
      />
    </div>

    <div class="mt-4">
      <button type="submit" class="col-12 mb-2 btn btn-res btn-lg px-4">
        Verify
      </button>
    </div>
  </div>
</form>
