<h1 class="pd-4 mb-4"><b> Welcome, <%-user.firstName%></b> 👋</h1>

<% if(typeof recipes !== 'undefined' && recipes.length>0) {%>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% if(typeof recipes !== 'undefined' && recipes.length>0){ %> <%
  recipes.forEach((recipe,index) => {%> <%-
  include('./components/recipeListingComponent.ejs',{recipe})%> <%}) %> <% } %>
</div>
<% } else {%>
<p>Item not found</p>
<% } %>
