:root {
  --bs-font-sans-serif: "Bricolage Grotesque", sans-serif;
  --epic-color: #f8663a;
  --epic-color-light: #fff0ec;
}

html {
  height: 100%;
}

footer {
  margin-top: auto;
}
.container-xxl {
  max-width: 1530px;
}

a {
  color: var(--bs-dark);
}

.border-error {
  border: 1px solid red !important;
  box-shadow: 0 0 0 0.21rem #fec2c2 !important;
}

.btn-res {
  --bs-btn-font-weight: 500;
  --bs-btn-color: #ffffff;
  --bs-btn-bg: var(--epic-color);
  --bs-btn-border-color: var(--epic-color);
  --bs-btn-border-radius: 0.5rem;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #d84d23;
  --bs-btn-hover-border-color: #d84d23;
  --bs-btn-focus-shadow-rgb: var(--epic-color);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--epic-color);
  --bs-btn-active-border-color: var(--epic-color);
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid var(--epic-color);
  border-radius: 50px;
  padding: 3px 5px !important;
  color: var(--epic-color) !important;
  font-weight: 600;
}

.login-btn span {
  margin: 5px;
}
.login-btn:hover {
  background-color: var(--epic-color);
  color: #ffffff !important;
}

.log-form {
  max-width: 30rem;
}

.dropdown-toggle::after {
  border-top: 0;
}
.menu-item-box {
  min-width: 240px !important;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.08);
}

.menu-profile-lg {
  font-weight: 600;
  text-align: center;
}
.menu-profile-lg:hover {
  color: var(--epic-color);
}
/* .menu-item-lg {
  display: flex;
  justify-content: center;
} */
.menu-item-lg img {
  margin-right: 8px;
  width: 15px;
}

.menu-item-lg button:hover {
  background-color: var(--epic-color-light) !important;
  color: #000 !important;
}
.menu-item-lg button:active {
  background-color: var(--epic-color-light) !important;
  color: #000 !important;
}

#reg-otpbtn {
  width: max-content;
  cursor: text;
}

.smb-btn {
  color: var(--epic-color);
}

.smb-btn:hover {
  font-weight: 500;
  color: var(--epic-color);
}

/* category card */
.category_link {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 200ms all;
}

.category_link:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.category_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  border-radius: 8px;
}

.category_img--large {
  height: 280px;
}

.category_img img {
  width: 100%;
  object-fit: cover;
}

.foot-img {
  max-height: 300px !important;
}
